<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset = "uft-8">
        <meta http-equiv = "X-UA-Compatible" content "IE=edge">
        <meta name = "viewport" content "width-device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <!-- a {% é para comandos -->
        <!-- a {{ é para variáveis -->
        
        <!-- CRUD: READ -->
        <ul>
            {% for pessoa in pessoas %}
                <li> {{pessoa.id}} - {{pessoa.nome}} 
                    <a href="{% url 'editar' pessoa.id %}"> Editar </a> <!-- CRUD: UPDATE -->
                    <a href="{% url 'delete' pessoa.id %}"> Deletar </a> <!-- CRUD: DELETE -->
                </li>
            {% endfor %}
        </ul>

        <!-- CRUD: CREATE -->
        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="nome">
            <button type="submit"> Salvar </button>
        </form>

    </body>
</html>